#define MY_ZMK_MACRO(name, tap_time, macro_bindings) \
/ { \
    macros { \
        name: name { \
            compatible = "zmk,behavior-macro"; \
            #binding-cells = <0>; \
            bindings \
                = <&macro_tap_time tap_time> \
                ,<&macro_tap macro_bindings> \
        ; \
        }; \
    }; \
};

MY_ZMK_MACRO(vimquit, 5, &kp COLON &kp Q &kp RET)
MY_ZMK_MACRO(vimwrite, 5, &kp COLON &kp W &kp A &kp EXCL &kp RET)
MY_ZMK_MACRO(srepeat, 5, &kp N &kp DOT)
MY_ZMK_MACRO(drepeat, 5, &kp J &kp DOT)
MY_ZMK_MACRO(ndiff, 5, &kp RBKT &kp C)
MY_ZMK_MACRO(pdiff, 5, &kp D &kp O)
MY_ZMK_MACRO(todo, 5, &kp MINUS &kp SPACE &kp LBKT &kp SPACE &kp RBKT &kp SPACE)
